.description-store {
  color: #fff;
}
.descriptionTitle {
  font-size: 25px;
  line-height: 30px;
  margin-top: 138px;
  margin-bottom: 100px;
}
.descriptionValue {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 28px;
  word-spacing: 82px;
}
.descriptionText {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;
  margin-top: 47px;
}
.description-link{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 115px;
}
.link {
  color: inherit;
  text-decoration: none;
}