.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store >  .title {
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  line-height: 48px;
  float: left;
  text-transform: uppercase;
}
.header-store .search{
  float: left;
  margin-left: 314px;
}

.header-store .name{
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
}

.header-store .line{
  width: 358px;
  color: #fff;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

.header-store .action {
  text-decoration: none;
  line-height: 28px;
  color: inherit;
  margin-right: 60px;
}

.header-store .action.-last {
  margin-right: 0;
}
