.photo-product {
  display: inline-block;
  background: #fff;
  height: 554px;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;
  padding-left: 100px;
  position: relative;
}

.photo-product::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  transform: translateX(-100%);
}

@media (max-width: 1325px) {
  .photo-product {
    margin-right: 140px;
  }
}

@media (max-width: 1313px) {
  .photo-product {
    display: block;
    margin-right: 0;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0;
  }
}

@media (max-width: 560px) {
  .photo-product {
    height: auto;
  }

  .photo-product > .photo {
    width: 100%;
  }
}
