header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  line-height: 48px;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

a {
  text-decoration: none;
  line-height: 28px;
  color: inherit;
  padding-left: 60px;
}

button {
  width: 200px;
  height: 60px;
  background-color: #252c41;
  color: #fff;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
}
